@import '../../../styles/variables.scss';

.carouselWrapper {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  height: 400px;
  position: relative;
  margin-bottom: 40px;
}

.carouselText{
  position: absolute;
  font-size: 30px;
  top: 7px;
  left: 10px;
  z-index: 10;
  background-color: $color-almostWhite;
}

@media (max-width: 768px) {
  .carouselText {
    font-size: 15px;
  }
}

.carouselCart{
  position: absolute;
  top: 7px;
  right: 30px;
  z-index: 10;
  font-size: 20px;
  
  span{
    cursor: pointer;
    color: $color-almostWhite;
    padding-right: 10px;
  }
}

@media(max-width: 768px) {
  .carouselCart {
    font-size: 10px;
    right: 10px;
  }
}

.carouselImage {
  object-fit: cover;
  width: 100%;
  max-width: 1600px;
  height: 400px;
}
